@{
    bool isDarkMode = ViewBag.IsDarkMode ?? false;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BooksWatch</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/flatly.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SiteEmprestimos.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link href="https://cdn.datatables.net/v/dt/dt-1.13.5/datatables.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
</head>
<body class="@(isDarkMode ? "dark-mode" : "")">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><i class="bi bi-book-half mx-1"></i>Books Watch</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-primary" asp-area="" asp-controller="Home" asp-action="Index"><i class="bi bi-house mx-2"></i>Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-primary" asp-area="" asp-controller="Emprestimo" asp-action="Index"><i class="bi bi-journals mx-2"></i>Empréstimos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-primary" asp-area="" asp-controller="Home" asp-action="Privacy"><i class="bi bi-shield mx-2"></i>Privacidade</a>
                        </li>
                    </ul>
                    <div class="toggle-mode">
                        <input type="checkbox" id="mode-switch" class="toggle-checkbox">
                        <label for="mode-switch" class="toggle-label">
                            <i class="bi bi-brightness-high-fill"></i> <!-- Ícone de lua -->
                            <i class="bi bi-moon-fill"></i> <!-- Ícone de sol -->
                        </label>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://cdn.datatables.net/v/dt/dt-1.13.5/datatables.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var modeSwitch = document.getElementById('mode-switch');
            modeSwitch.addEventListener('change', function () {
                document.body.classList.toggle('dark-mode');
                var isDarkMode = document.body.classList.contains('dark-mode');

                document.cookie = "darkMode" + isDarkMode + "; expires=Sun, 1 Jan 2023 00:00:00 UTC; path=/";
            });
        });
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
