    /* Estilo para os links na nav-bar */
    .navbar a {
        color: #fff;
        text-decoration: none;
        margin: 0 10px;
    }

/* Estilo para os links na nav-bar no modo noturno */
body.dark-mode .navbar a {
    color: #000;
}

/* Estilos para o modo noturno */
body.dark-mode {
    background-color: #333; /* Cor de fundo no modo noturno */
    color: #fff; /* Cor do texto no modo noturno */
}

    /* Estilo para o ícone de sol no modo noturno */
    body.dark-mode .fa-sun {
        color: #f80;
    }

    /* Estilo para outras seções no modo noturno */
    body.dark-mode section {
        background-color: #444; /* Cor de fundo da seção no modo noturno */
    }

        body.dark-mode section p {
            color: #fff; /* Cor do texto na seção no modo noturno */
        }


/* Estilos para o botão de alternar */
.toggle-mode {
    display: inline-block;
    position: relative;
    width: 40px;
    height: 20px;
}

.toggle-checkbox {
    display: none;
}

.toggle-label {
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 20px;
    background-color: #ccc;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2px;
}

    .toggle-label i {
        font-size: 12px;
    }

/* Estilo para o ícone de lua */
.fa-moon {
    color: #000;
}

/* Estilo para o ícone de sol */
.fa-sun {
    color: #ff0;
}

/* Estilos para o corpo do documento */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    transition: background-color 0.3s;
    color: #333; /* Cor do texto no modo claro */
}

/* Estilo para o botão de alternar */
.toggle-mode {
    display: inline-block;
    position: relative;
    width: 40px;
    height: 20px;
}

.toggle-checkbox {
    display: none;
}

.toggle-label {
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 20px;
    background-color: #ccc;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2px;
}

    .toggle-label i {
        font-size: 12px;
    }

/* Estilos adicionais para o modo noturno */
body.dark-mode {
    background-color: #333; /* Cor de fundo no modo noturno */
    color: #fff; /* Cor do texto no modo noturno */
}

/* Exemplo de alteração de cor de fundo para outras seções */
section {
    background-color: #f0f0f0; /* Cor de fundo da seção no modo claro */
}

body.dark-mode section {
    background-color: #444; /* Cor de fundo da seção no modo noturno */
}

/* Exemplo de alteração de cor do texto para outras seções */
section p {
    color: #000; /* Cor do texto na seção no modo claro */
}

body.dark-mode section p {
    color: #fff; /* Cor do texto na seção no modo noturno */
}